.jumbotron {
	max-width: 700px;
	padding: 30px;
	text-align: center;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e6f0ff;
}

.headerLeft{
	text-align: right;
	padding: 10px;
	font-size: 18px;
}

.top{
	margin-top: 60px;
}

.padding70{
	padding: 70px;
}

.top50{
	margin-top: 50px;
}

.img-50-50 {
	width: 50px; 
 }